* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
     width: 95%;
     margin: auto;
 }

ul,li {
    list-style: none;
}


.header {
    overflow: hidden;
    padding-top: 20px;
    margin: auto;
    width: 1200px;
    background: url("images/starfield-banner.jpg");
}
.left {
    width: 100px;
    height: 100px;
    margin: 0px 25px 0px 25px;
    float: left;
}
.nav {
    height: 100px;
    margin: 0px 270px 0px 150px;
    overflow: hidden;
}
.navlist li {
    color: white;
    float: left;
    padding: 0px 10px;
    font-size: 15px;
    border-right: 1px solid white;
}

.value {
    background-color: grey;
}
.value li {
    font-size: 11px;
    margin: 10px 0px;
    padding: 0px 10px;
}
.navlist li:last-child {
    border: none;
}
.navlist {
    float: right;
    margin-top: 20px;
}


.right {
    width: 250px;
    height: 50px;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}
.right img {
    width: 50px;
    display: block;
    float:right;
}
.right div {
    width:200px;
    height: 50px;
    background-color:grey;
    float: left;
}
.search {
    display: block;
    width: 130px;
    height: 50px;
    color: black;
    border: none;
    padding: 0px 10px;
    background-color: transparent;
    float: left;
}


.picture {
    width: 1200px;
    margin: auto;
    padding-top: 10px;
    overflow: hidden;
}

.pictureleft {
    float: left;
    width: 590px;
    height: 590px;
}
.picture1 {
    float: right;
    width: 580px;
}
.pictureright {
    width: 280px;
    height: 286px;
}
.notes {
    width: 260px;
    height: 276px;
    margin-right: 0px;
    padding: 10px 10px 0px 10px;
    float: right;
    background-color: #6089E2;
}
.notes div {
    color: white;
    margin: 0px;
    height: 220px;
}

.notes div:first-child {
    border-bottom: 1px solid white;
    height: 30px;
}

.notes div p {
    margin: 0px 0px 5px 0px;
    font-size: 10px;
}
.notes div:last-child {
    border-top: 1px solid white;
    height: 20px;
    font-size: 11px;
    margin-bottom: 0px;
}
.notes div span:last-child {
    float: right;
}
.picturebottom {
    margin-top: 20px;
    height: 280px;
    width: 600px;
}


.name1 {
    background-color: #A8A8FC;
    color: white;
    padding: 6px 8px;
    display: inline-block;
}
.memo {
    background-color: white;
    padding: 6px 8px;
    font-weight: bolder;
    font-family: "宋体";
}

.pictureone {
    width: 590px;
    position: absolute;
    bottom: 44px;
}
.picturetwo{
    position: absolute;
    bottom: 350px;
    width: 280px;
}
.picturethree {
    position: absolute;
    bottom: 44px;
    width: 590px;
}



.middle {
    width: 1200px;
    height: 300px;
    margin: auto;
    padding-top: 20px;
}
.picture4 {
    width: 285px;
    height: 295px;
    float: left;
}
.picture5 {
    width: 590px;
    margin: 0px 20px;
}
.video {
    width: 285px;
    float: right;
}
.video iframe {
    width: 285px;
    height: 295px;
}

.note {
    width: 285px;
    position: relative;
    bottom: 51px;
}
.note1 {
    width: 590px;
    position: relative;
    bottom: 99px;
    left: 305px;
}

.content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.content img {
    display: block;
    width: 285px;
    height: 285px;
    padding: 0px;
    border: none;
    margin-top: 40px;
}
.nasa1,.nasa2,.nasa3,.nasa4 {
    margin-right: 15px;
}

.label {
    width: 285px;
    margin-right: 20px;
    position: relative;
    top: -32px;
}
#lab {
    margin-right: 0px;
}
.note2 {
    position: relative;
    bottom: 73px;
}



.last{
    width: 1200px;
    margin: auto;
    height: 30px;
    overflow: hidden;
    background-color: blue;
    text-align: center;
    color: white;
}
.lastlogo {
    width: 1200px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    color: white;
}
.picture6,.note3 {
    float: left;
}

.lastlist {
    width: 1200px;
    margin: auto;
}
.lastlist ul {
    float: right;
}
.lastlist li {
    float: left;
    color: #B8B8FC;
    font-size: 14px;
    padding: 0px 8px;
}